h2 {
  color: #000;
  text-align: center;
  font-size: 1.3em;
}

h3 {
  color: #fff;
  font-size: 1.3em;
}

.jumbotron p {
  color: #000;
}
.jumbotron img {
  margin-top: 50px;
}
.jumbotron h1 {
  text-align: center;
  margin-top: 50px;
}

#jumboMain {
  margin-top: 90px;
  font-size: 200%;
}

h4 {
  color: #000;
}

.modal-body p {
  color: #000;
}

a {
  color:#000;
}
